<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vuejs</title>
</head>
<body>

    <div id="app">
        <h1>{{ titulo }}</h1>
        <label for="">Nome</label><br>
        <input type="text" v-model="nome">

        <br><br>
        <label for="">Telefone</label><br>
        <input type="text" v-model="telefone">

        <br><br>
        <label for="">Deseja receber novidades?</label><br>
        <input type="radio" value="Sim" name="" id="" v-model="novidades"> Sim
        <input type="radio" value="Não" id="" v-model="novidades"> Não
        
        <br><br>
        <label for="">Interesses</label><br>
        <input type="checkbox" value="Futebol" name="" id="" v-model="interesses"> Futebol
        <input type="checkbox" value="Formula 1" name="" id="" v-model="interesses"> Formula 1
        <input type="checkbox" value="Corrida" id="" v-model="interesses"> Corrida

        <br><br>
        <label for="">Como nos conheceu?</label><br>
        <select name="" id="" v-model="conheceu">
            <option value="">Escolha</option>
            <option value="Google">Google</option>
            <option value="TV">TV</option>
            <option value="Recista">Revista</option>
        </select>

        <br><br>

        <button>ENVIAR</button>

        <br>

        Nome: {{ nome }} <br>
        Telefone: {{ telefone }} <br>
        Novidades: {{ novidades }} <br>
        Interesses: {{ interesses }} <br>
        Como nos conheceu? {{ conheceu }} <br>
        
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data() {
                return {
                    titulo: "Exemplo de form com vue js",
                    nome: "",
                    telefone: "",
                    interesses: [],
                    conheceu: "",
                }
            },
        })
    </script>
</body>
</html>